{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat Interface</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <script>
        // Define the default image URL in JavaScript
        const defaultUserImageUrl = "{% static 'images/user.jpeg' %}";
        
        // Get the profile picture URL from Django context or use the default
        const userImageUrl = "{{ profile_picture_url }}";
        const finalUserImageUrl = userImageUrl ? userImageUrl : defaultUserImageUrl;

        const assistantImageUrl = "{% static 'images/AI.jpg' %}";
    </script>
</head>
<body>
    <div class="container">
        <div class="sidebar hidden" id="sidebar">
            <button class="sidebar-close" id="sidebar-close">✖</button>
            <h2>Easy heals</h2>
            <h3>{{user}}</h3>
            <ul>
                <li><a href="#">Conversations</a></li>
                <li><a href="#">Settings</a></li>
                <li><a href="#">Help</a></li>
            </ul>
        </div>
        <div class="chat-container">
            <div class="chat-header">
                <button class="sidebar-toggle" id="sidebar-toggle">☰</button>
                <form method="post" action="{% url 'logout' %}" style="display: inline;">
                    {% csrf_token %}
                    <button type="submit" class="logout-button" id="logout-button">Logout</button>
                </form>
                
                <h2>Chat Interface</h2>
                <button class="dark-mode-toggle" id="dark-mode-toggle">Dark Mode</button>
            </div>
            <div class="chat-messages">
                <!-- chat messages will be displayed here -->
            </div>
            <div class="loading-indicator hidden" id="loading-indicator">
                <div class="spinner"></div> Loading...
            </div>
            <div class="document-list" id="document-list">
                <!-- Uploaded documents will be displayed here -->
            </div>
            <div class="chat-input-container">
                <button id="attach-button">
                    <img src="{% static 'images/attachment.png' %}" alt="Attach" width="24">
                </button>
                <input type="file" id="file-input" style="display: none;" multiple>
                <input type="text" id="chat-input" placeholder="Type a message...">
                <button id="send-button">Send</button>
            </div>
        </div>
    </div>

    <script src="{% static 'js/scripts.js' %}"></script>
</body>
</html>
